* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100%;
}

footer {
    background-color: #404040;
    color: #eee;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

main {
    text-align: justify;
}

