* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: aliceblue;
}

.container {
    min-height: 100%;
    margin-bottom: 100px;
}

.media {
    width: 5rem;
    height: auto;
}

footer {
    background-color: #404040;
    color: #eee;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 50px;
    text-align: center;
    padding-top: 10px;
}

main {
    text-align: justify;
}

.form-group, .card-text {
    text-align: left;
}

/* Media Queries */
/* Mobile  */
@media only screen and (max-width: 575px) {
    img {
      width: 70%;
      height: auto;
    }
  }

@media only screen and (min-width: 576px) {
    img {
      width: 80%;
      height: auto;
    }
  }

/* Tablet */
@media only screen and (min-width: 768px) {
    img {
        width: 90%;
        height: auto;
      }
    }

/* Desktop */
@media only screen and (min-width: 992px) {
    img {
        width: 100%;
        height: auto;
      }
    }